[submodule "submodule/scikit-learn"]
	path = submodule/scikit-learn
	url = git://github.com/scikit-learn/scikit-learn.git
[submodule "submodule/jquery-validation"]
	path = submodule/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation
[submodule "submodule/grunt"]
	path = submodule/grunt
	url = https://github.com/jeff1evesque/grunt
[submodule "submodule/jsonschema"]
	path = submodule/jsonschema
	url = https://github.com/Julian/jsonschema
