# Ignore everything in '/html/', except one subdirectory
/html/*
!/html/machine-learning/

# Ignore and don't commit the following directories
/html/machine-learning/asset/
/log/
/bash/.sass-cache/

# Ignore and don't commit the following files
/package/*.pyc
/package/converter/*.pyc
/package/database/*.pyc
/package/schema/*.pyc
/package/session/*.pyc
/package/validator/*.pyc
