# Ignore project root (except exclamated files, and directories)
/*
!/web_interface/
!/brain/
!/build/
!/src/
!.gitigore
!settings.py
!setup.py
!.gitmodules
!README.md
!__init__.py
!app.py
!license.md

# Ignore and don't commit the following directories
/web_interface/static/js/
/web_interface/static/css/
/web_interface/static/img/

# Ignore and don't commit the following files
/*.pyc

/build/*.pyc
/build/database/*.pyc
/build/.sass-cache/

/brain/*.pyc
/brain/cache/*.pyc
/brain/converter/*.pyc
/brain/database/*.pyc
/brain/schema/*.pyc
/brain/session/*.pyc
/brain/validator/*.pyc

/web_interface/*.pyc
