[submodule "submodules/scikit-learn"]
	path = submodules/scikit-learn
	url = git://github.com/scikit-learn/scikit-learn.git
[submodule "submodules/jquery-validation"]
	path = submodules/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation
[submodule "submodules/grunt"]
	path = submodules/grunt
	url = https://github.com/jeff1evesque/grunt
[submodule "submodules/jsonschema"]
	path = submodules/jsonschema
	url = https://github.com/Julian/jsonschema
