# Ignore project root (except exclamated files, and directories)
/*
!/interface/
!/brain/
!/src/
!.gitigore
!settings.py
!.gitmodules
!README.md
!__init__.py
!app.py
!license.md
!contributing.md
!Vagrantfile
!/puppet/
!Dockerfile
!/test
!/log/

#Ignore and don't commit the following directories
/interface/static/js/
/interface/static/css/
/interface/static/img/
/puppet/environment/development/modules_contrib/
/test/.cache
/test/programmatic_interface/.cache
/test/programmatic_interface/__pycache__
/src/jsx/node_modules/

# Ignore and don't commit the following files
*.pyc
/src/js/.gitignore
/log/database
/log/error
/log/warning
/log/info
/log/debug