/**
 * form_svm.css: contains the stylesheet definitions for the form used for 'Training', and
 *               'Analysis'.
 */

input[name='svm_dataset[]']:not(:first-of-type), input[name='svm_training_dep[]']:not(#svm_training_dep), input[name='svm_training_indep[]']:not(#svm_training_indep), input[name='svm_analysis_indep[]']:not(#svm_analysis_indep) {
  display:block;
}

.ajax_loader {
  background: url('../img/loading.gif') no-repeat center center transparent;
  background-size:90px 90px;
  width:100%; height:100%;
}

