// _layout.scss: generates css solution for the overall layout.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

#bootstrap-override {
  .main {
    margin: 0 auto;
    width: 60rem;

    .menu-container {
      float: left;
      width: $lcol-width;
    }

    .analysis-container,
    .result-container {
      margin-left: $lcol-width;
    }
  }
}
