// _layout.scss: generates css solution for the overall layout.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;

  .react-container {
    flex: 1;
    display: flex;

    .large-viewport,
    .medium-viewport {
      flex: 1;
      display: flex;

      .anonymous,
      .authenticated {
        display: flex;
        flex: 1;
        flex-direction: column;

        .container-fluid {
          display: flex;
          flex: 1;
          margin: 0;

          .row {
            flex: 1;
            display: flex;

            .flex {
              flex: 1
              display: flex;

              .lcolumn-container {
                display: flex;
                flex: 1;

              .lcolumn {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}

}
