// _layout.scss: generates css solution for the overall layout.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

html {
  height: 100%;

  body {
    height: 100%;

    .react-container {
      height: 100%;

      .large-viewport,
      .medium-viewport {
        height: 100%;

        .anonymous,
        .authenticated {
          height: 100%;

          .container-fluid {
            height: 100%;

            .row {
              height: 100%;

              .flex {
                display: flex;
                height: 100%;

                .lcolumn {
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
