// _navigation.scss: generates css solution for general navigation (for all
//                   users), and menu links (for anonymous users).
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

#bootstrap-override {
  .main-navigation {
    font-weight: 500;
    padding: .75rem 0;
    text-align: right;
  }

  .menu-home,
  .menu-register {
    .home {
      float: left;
      margin-left: .5rem;
    }
  }

  .menu-login {
    .home {
      display: block;
      text-align: center;
    }
  }

  .dropdown-menu {
    li {
      a {
        color: $header-font-color;
        background-color: transparent;
      }
    }

    a:hover {
      color: $header-font-color-hover;
      text-decoration: none;
    }
  }

  .navbar {
    border-radius: 0;

    .navbar-brand {
      padding: 5px 0;
    }

    .navbar-text {
      a {
        color: $gray-7;
      }
    }

    .menu-label {
      color: $header-font-color;
      position: relative;
      top: -.55em;
    }

    .menu-label:hover {
      color: $header-font-color-hover;
    }

    #basic-nav-dropdown {
      color: $gray-1;
      text-decoration: none;
    }

    #basic-nav-dropdown:hover,
    .navbar-brand:hover {
      color: $white-1;
    }

    .dropdown-toggle {
      padding: 0;
    }

    .nav-item {
      a {
        color: $header-font-color;
        margin-bottom: 1.25rem;
        padding: 0;
        text-decoration: none;
      }
    }

    .nav-item:last-of-type {
      a {
        color: $header-font-color;
        margin-bottom: 0;
        padding: 0;
        text-decoration: none;
      }
    }

    .dropdown {
      .caret {
        vertical-align: 50%;
      }
    }

    .svg-dropdown-desktop {
      .dropdown-toggle {
        padding-left: $gutter-1 / 2;
      }

      .caret {
        left: -8px;
        position: relative;
        vertical-align: 50%;
      }
    }
  }

  .navbar-collapse {
    li {
      text-align: left;
    }
  }

  .side-menu {
    list-style: none;
    padding-left: 0;

    a,
    a:link,
    a:visited {
      border-bottom: 1px solid $gray-2;
      color: $gray-7;
      display: inline-block;
      padding: 1rem 0 1rem .75rem;
      width: 100%;
    }

    .active,
    a:hover {
      background-color: $gray-1;
      border-right: .35rem solid $green-4;
      color: $gray-8;
    }
  }
}
