// _user_menu.scss: generates css solution for the 'user menu'.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
}
