// _user_menu.scss: generates css solution for the 'user menu'.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

.main-navigation {
  font-weight: 500;
  padding: .75rem 0;
  text-align: right;

  .mn-2 {
    margin-right: .625rem;
  }
}

.menu-home,
.menu-register {
  .home {
    float: left;
  }
}

.menu-login {
  .home {
    display: block;
    text-align: center;
  }
}

.menu-container {
  a:visited {
    color: inherit;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: .75rem;
    }
  }
}
