// _user_menu.scss: generates css solution for the 'user menu'.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

.main-navigation {
  font-weight: 500;
  text-align: right;
  padding-bottom: 1.75rem;

  .mn-2 {
    margin-right: 0.625rem;
  }
}
