// _variables.scss: contains general scss variables, where higher numeral
//     suffixes, associate with darker colors, while suffixes ending with 't',
//     correspond to transparent colors.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.
//
// Note: this file should contain a superset of definitions for 'colors.js'.
//

$focus: #88d5e9;
$gutter-1: 2rem;
$gray-8: #1a1a1a;
$gray-7: #333;
$gray-6: #777;
$gray-5: #bebebe;
$gray-4: #d5d5d5;
$gray-3: #ccc;
$gray-2: #ddd;
$gray-1: #eee;
$green-7: #237616;
$green-6: #4a993e;
$green-5: #569e3d;
$green-4: #60b044;
$green-3: #5ca941;
$green-2: #79d858;
$green-1: #8add6d;
$blue-hyperlink: #0066c0;
$blue-2t: rgba(0, 174, 239, .8);
$blue-1t: rgba(0, 174, 239, .15);
$white-2: #fcfcfc;
$white-1: #fff;
$red-1: #800000;
$red-2: #86181d;
$red-3: #ffdce0;
$header-font-color: #ddd;
$header-font-color-hover: #fff;
