// _variables.scss: contains general scss variables.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

$form-margin:1rem;
$color-error: #800000;
$baby-blue-transparent: rgba(0,174,239,.15);
$baby-blue-solid: rgba(0, 174, 239, .8);
