// _variables.scss: contains general scss variables.
//
// Note: this partial, is ignored by the scss compiler, and can be imported
//       into another scss file.
//
// Note: '//' comment(s), will not appear in the corresponding compiled css,
//       whereas, '/* */' comment(s), will be preserved in the compiled output.

$form-margin:1rem;
$color-error: #800000;
$baby-blue-transparent: rgba(0, 174, 239, .15);
$baby-blue-solid: rgba(0, 174, 239, .8);
$gray-6: #333;
$gray-5: #777;
$gray-4: #d5d5d5;
$gray-3: #ccc;
$gray-2: #ddd;
$gray-1: #eee;
$off-white: #fcfcfc;
$darker-green: #4a993e;
$dark-green: #569e3d;
$green-level-1: #60b044;
$green-level-2: #5ca941;
$light-green: #79d858;
$lighter-green: #8add6d;
$white: #fff;
