// style.scss: contains general stylesheet definitions.
//
// Note: the following syntax selects all classnames [CLASS],
//       except the first one:
//
//           .[CLASS] ~ .[CLASS] { }

@import 'variables';
@import 'user_menu';
@import 'webform';
@import 'spinner';

a {
  text-decoration: none;
}

body {
  font-family: Roboto, BlinkMacSystemFont, Helvetica Neue;
  font-size: 14px;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.error {
  color: $color-error;
  font-weight: 700;
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $lighter-gray;
  background-image: -webkit-linear-gradient($off-white, $lighter-gray);
  background-image: linear-gradient($off-white, $lighter-gray);
  border: 1px solid $dark-gray;
  border-radius: 3px;
  color: $darker-gray;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover {
  background-color: $light-gray;
  background-image: -webkit-linear-gradient($lighter-gray, $light-gray);
  background-image: linear-gradient($lighter-gray, $light-gray);
  border-color: $gray;
}

.btn-primary {
  background-color: $green-level-1;
  background-image: -webkit-linear-gradient($lighter-green, $green-level-1);
  background-image: linear-gradient($lighter-green, $green-level-1);
  border-color: $green-level-2;
  color: $white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
}

.btn-primary:hover {
  background-color: $dark-green;
  background-image: -webkit-linear-gradient($light-green, $dark-green);
  background-image: linear-gradient($light-green, $dark-green);
  border-color: $darker-green;
  color: $white;
}
