// style.scss: contains general stylesheet definitions.
//
// Note: the following syntax selects all classnames [CLASS],
//       except the first one:
//
//           .[CLASS] ~ .[CLASS] { }

@import 'variables';
@import 'spinner';

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.error {
  color: $color-error;
  font-weight: 700;
}

.dataset-url:first-of-type,
.dataset-file:first-of-type {
  clear: both;
  float: left;
}

.dataset-url,
.dataset-file {
  clear: both;
  display: block;
}

form {
  > fieldset {
    margin-top: $form-margin;

    > fieldset {
      margin-top: $form-margin / 2;
    }
  }

  .form-submit {
    margin-top: $form-margin;
  }
}

fieldset .error {
  float: right;
}

.form-note {
  clear: both;
  margin-bottom: 10px;
  padding-top: 20px;
}
