/**
 * style.scss: contains general stylesheet definitions.
 *
 * Note: the following syntax selects all classnames [CLASS],
 *       except the first one:
 *
 *           .[CLASS] ~ .[CLASS] { }
 */

@import 'variables.scss';

.bold {
  font-weight:700;
}

.italic {
  font-style: italic;
}

.error {
  font-weight:700;
  color:#800000;
}

input[name='svm_dataset[]']:not(:first-of-type), .svm_dep_variable ~ .svm_dep_variable, .svm_indep_variable ~ .svm_indep_variable {
  display:block;
}

.svm_dataset_xml_add:first-of-type, .svm_dataset_file_add:first-of-type, .svm_dep_variable_add:first-of-type, .svm_indep_variable_add:first-of-type {
  float:left;
  clear:none;
}

form {
  > fieldset {
    margin-top:$form-margin;

    > fieldset {
      margin-top:$form-margin / 2;
    }
  }

  input.svm_form_submit {
    margin-top:$form-margin;
  }
}

label.error {
  float:right;
}

.form_note {
  clear:both;
  padding-top:20px;
  margin-bottom:10px;
}

.ajax_loader {
  background: url('../img/loading.gif') no-repeat center center transparent;
  background-size:90px 90px;
  width:100%; height:100%;
}
